.container{
    /* background-color: #000000; */
    /* color: white; */
}

/* .container ul li{
    list-style: decimal;
} */

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #cecece;
}


.btn{
    display: flex;
    gap: 10px;
}

.edit, .delete{
    padding: 5px;
    color: white;
    border: none;
    border-radius: 3px;
}

.edit{
    background-color: rgb(4, 118, 4);
}

.delete{
    background-color: rgb(221, 1, 1);
}